.content {
    text-align: left;
    position: fixed;
    left: 20%;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 50px 20px;
    border: 1px solid;
    border-radius: 10px;
    border-style: dashed;
}
