.leftMenu {
    width: 25%;
    position: fixed;
    left: 0;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 50px 25px 10px;
    transition: 0.5s;
    margin: 0;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 50%;
}
