.leftMenu {
    width: 20%;
    position: fixed;
    left: 0;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 50px 25px 0;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 50%;
}
